.project {
  background-color: var(--first-color-dark);
}
#projetos {
  .container {
    &:first-child {
      margin-bottom: 1rem;
    }
  }
}
.subTitle {
  margin-bottom: 1rem;
}
.card {
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--text-color);
  text-align: center;
  padding: 0.25rem;
  margin-inline: 0.25rem;

  .cardImg {
    width: 100%;
    min-height: 150px;
    margin-bottom: 0.5rem;
  }

  .cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    p {
      margin: 0;
    }

    .cardSubtitle {
      font-size: 0.85rem;
      text-decoration: underline;
      margin-bottom: 0.5rem;

      @media (max-width: 547px) {
        height: 41px;
        margin-bottom: 0.45rem;
      }
    }

    .cardTitle {
      font-weight: bold;
      font-size: var(--h2-font-size);
    }

    .cardDescription {
      font-size: var(--small-font-size);
      word-break: break-word;
      min-height: 60px;
    }

    .cardIcons {
      height: 28px;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;

      a {
        color: white;

        .wrapper_site {
          display: flex;
          align-items: center;
          gap: 0.1rem;
        }
      }
    }
    .cardBorderIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 28px;
      min-height: 28px;
      border-radius: 5px;
      border: 1px solid var(--first-color);
      text-decoration: none;
      color: white;
    }
  }
}
.splide_custom_class {
  margin-inline: auto;
}
@media (max-width: 600px) {
  .project {
    min-height: auto;
  }
  .card {
    margin-left: 9px;
  }
}

@media (max-width: 300px) {
  .card {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
}
