@import "./../../../styles/utils/mixins/layout.module.scss";

.about {
  background-color: var(--first-color-dark);
  padding-top: 3rem;
  padding-bottom: 2rem;
  @media (max-width: 1199px) {
    height: auto;
  }
  @media (max-width: 547px) {
    padding-top: 0;
  }
}
.containerAbout {
  @include Flex($jc: center, $ai: center, $fd: row, $gap: 5%);

  @media (max-width: 1199px) {
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
  }
}
.imageAbout {
  flex: 1;
  max-width: 450px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @media (max-width: 1199px) {
    width: 350px;
    height: 250px;
    margin: auto;

    @media (max-width: 547px) {
      width: 100%;
      height: 100%;
    }
  }
}
.wrapper_title_about {
  margin-bottom: 2rem;
}

.aboutDescription {
  flex: 1;

  @media (max-width:547px) {
    text-align: center;
  }
}
.description {
  line-height: 1.5;
  margin-bottom: 2rem;
  font-size: var(--h2-font-size);
  color: var(--text-color);

  @media (max-width: 1199px) {
    font-size: var(--h3-font-size);
    text-align: center;
  }
  @media (max-width: 547px) {
    font-size: var(--normal-font-size);
  }
}
