* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: none;
}
ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $first-color-dark;
}
::-webkit-scrollbar-thumb {
  background: $first-color;
  border-radius: 40px;
}
