@import "./utils/variables.module.scss";
@import "./utils/reset.module.scss";
@import "./utils/components.module.scss";


main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: #01171c;
  @media (max-width: 997px) {
    gap: 5rem;
  }
}
